body {
  margin: 0;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 16px;
  color: #666;
}

main {
  margin-top: 10vh;
}

h2, small, .btn {
  font-weight: 700;
}

a, a:hover {
  color: #0077db;
}

label {
  font-weight: 400;
}

#container {
  margin: 20px 0;
}

#pager {
  margin-bottom: 20px;
}
#pager::after {
  display: table;
  clear: both;
  content: "";
}

.form-control {
  width: 150px;
  margin-right: 20px;
}

.pg-pager {
  margin: 0;
  padding: 0;
}
.pg-pager::after {
  display: table;
  clear: both;
  content: "";
}
.pg-pager .pg-item {
  list-style: outside none;
  float: left;
}
.pg-pager .pg-item .pg-link, .pg-pager .pg-item.pg-ellipsis > span {
  display: block;
  min-width: 45px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  padding: 6px 12px;
  color: inherit;
  border: 1px solid #ccc;
  margin-left: -1px;
}
.pg-pager .pg-item .pg-link:hover, .pg-pager .pg-item.pg-ellipsis > span:hover {
  color: inherit;
  border-color: #ccc;
  background-color: #ccc;
}
.pg-pager .pg-item.pg-active > a, .pg-pager .pg-item.pg-active > a:focus, .pg-pager .pg-item.pg-active > a:hover {
  color: #fff;
  border-color: #0077db;
  background-color: #0077db;
}
.pg-pager .pg-item:first-child a {
  border-radius: 3px 0 0 3px;
}
.pg-pager .pg-item:last-child a {
  border-radius: 0 3px 3px 0;
}
.pg-pager .pg-item.pg-ellipsis > span {
  cursor: not-allowed;
}
.pg-pager .pg-item.pg-ellipsis > span:hover {
  color: inherit;
  border-color: #ccc;
  background-color: transparent;
}
.pg-pager .pg-item.pg-disabled {
  cursor: not-allowed;
}
.pg-pager .pg-item.pg-disabled a {
  opacity: 0.6;
  pointer-events: none;
}
.pg-pager .pg-item.pg-disabled a:hover {
  color: inherit;
  border-color: #ccc;
  background-color: transparent;
}

.btn {
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 500;
}
.btn.btn-primary {
  border-color: #0077db;
  background-color: #0077db;
}
.btn.btn-primary:hover {
  background-color: #007fea;
}
.btn.btn-danger {
  border-color: #fa424a;
  background-color: #fa424a;
}
.btn.btn-danger:hover {
  background-color: #fa5158;
}

.pagination {
  margin: 0;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}