<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Dynamic Pagination Test (JS)</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdn.materialdesignicons.com/1.7.22/css/materialdesignicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500'><link rel="stylesheet" href="./pagination.css">

</head>
<body>
<!-- partial:index.partial.html -->
<main>
 <div class="container">
  <div class="row">
   <div class="col-sm-12">
   
    <div id="container">
     <div id="pager"></div>
     <div class="text-muted" id="info"></div>
    </div>
   </div>
</div>
</div>

</main>
<!-- partial -->
  <script  src="./pagination.js"></script>

</body>
</html>
